*, *,::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    padding: 10px;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > img {
    height: 70px;
}

main {
    width: 90%;
    margin: 10px auto;
}

.list-item {
    padding: 5px 0;
}

#list {
    margin-left: 20px;
}